.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

.header ul li {
  list-style: none;
  display: inline;
  margin: 10px;
}

body {
  margin: 0px;
}

.site-footer {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
}